<footer class="footer bg-light text-dark py-4 border-top">
<div class="container">
    <div class="row">

        <div class="col-md-3 mb-3 d-flex flex-column align-items-center text-center text-md-start">
            <img src="/images/logo.png" alt="Logo de la empresa" width="100" height="60" class="mb-2">
            <div class="d-flex justify-content-center justify-content-md-start">
                <i class="fi fi-brands-twitter mx-2"></i>
                <i class="fi fi-brands-instagram mx-2"></i>
                <i class="fi fi-brands-youtube mx-2"></i>
                <i class="fi fi-brands-linkedin mx-2"></i>
            </div>
        </div>


        <div class="col-md-3 mb-3">
            <h5>Sobre nosotros</h5>
            <p>Nuestra Historia</p>
            <p>Nuestros desarroladores</p>
            <p>Otros Proyectos</p>
        </div>


        <div class="col-md-3 mb-3">
            <h5>Enlaces</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-dark text-decoration-none">Inicio</a></li>
                <li><a href="#" class="text-dark text-decoration-none">Servicios</a></li>
                <li><a href="#contacto" class="text-dark text-decoration-none">Contacto</a></li>
                <li><a href="#" class="text-dark text-decoration-none">Política de privacidad</a></li>
            </ul>
        </div>


        <div class="col-md-3 mb-3" id="contacto">
            <h5>Contáctanos</h5>
            <ul class="list-unstyled">
                <li><a href="tel:+5493813661123" class="text-dark text-decoration-none">Teléfono: +543813741549</a>
                </li>
                <li><a href="mailto:santid.prog@gmail.com" class="text-dark text-decoration-none">Email:
                        equipo@taskmate.com</a>
                </li>
                <li><a href="#" class="text-dark text-decoration-none">Dirección: M. Belgrano 3874, Buenos Aires</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</footer>